/* src/index.css */

/* Reset default margin and padding, and set font family */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Center align headings */
h1, h2, h3 {
  text-align: center;
}

/* Set max width for container */
.container {
  max-width: 800px;
}

/* Cursor style for buttons */
.btn {
  cursor: pointer;
}

/* Styling for VehicleList component */
.table-container {
  max-width: 80%;
}

.table-container table {
  width: 100%;
}

.table-container th,
.table-container td {
  text-align: center;
}

/* Styling for loading animation */
.loading-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for AboutPage component */
.card-body {
  font-family: 'Arial', sans-serif;
  margin-left: 50px;
  padding: 30px;
}

.card-title {
  color: #0d6efd;
}

.card-text {
  text-align: justify;
  line-height: 1.5;
}

/* Styling for markdown body */
.markdown-body h3 {
  margin-top: 1.2em;
  font-size: 1.2em;
}

.markdown-body ul {
  list-style-type: disc;
  padding: 0;
}

.markdown-body li {
  margin-bottom: 8px;
}

/* Styling for code blocks */
.code {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow-x: auto;
}

.code p {
  margin: 0;
}

.markdown-body ul li + li {
  margin-top: 6px;
}
