/* src/index.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

.container {
  max-width: 800px;
}

.btn {
  cursor: pointer;
}

/* Styling for VehicleList */
.table-container {
  max-width: 80%;
}

.table-container table {
  width: 100%;
}

.table-container th,
.table-container td {
  text-align: center;
}

/* Styling for Loading */
.loading-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
